body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: #f1f5f9;
}

/* NAVBAR */
nav {
    background: #020617;
    padding: 18px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #1e293b;
}

nav h2 {
    margin: 0;
    font-size: 22px;
    color: #ff9900;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: #e2e8f0;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #ff9900;
}

/* HERO */
.hero {
    background: linear-gradient(135deg, #1e293b, #0f172a);
    padding: 120px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 54px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    color: #cbd5e1;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 14px 26px;
    background: #ff9900;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e68a00;
}

/* SECTIONS */
.section {
    padding: 80px 40px;
    text-align: center;
}

.section h2 {
    font-size: 34px;
    margin-bottom: 40px;
}

/* CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.card {
    background: #1e293b;
    width: 260px;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: 0.4s;
}

.card:hover {
    transform: translateY(-12px) scale(1.03);
}

.card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin: 10px 0;
}

/* QUOTE SECTION */
.quote {
    background: #111827;
    padding: 70px 20px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    color: #facc15;
}

/* FOOTER */
footer {
    background: #020617;
    padding: 30px;
    text-align: center;
    color: #94a3b8;
    margin-top: 60px;
}
